:root {
    --primary: #0d6efd;
    --black-color: #000000;
    --white-color: #ffffff;
    --bg-color: var(--white-color);
    --min-width-column: 10rem;
    --table-bg: #ffffff;
    --border-color: #dee2e6;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-darning: #ffc107;
    --bs-danger: #dc3545;
}

table thead.head-sticky th {
    background-color: var(--bs-yellow);
    border-top: none;
}
table thead.head-sticky tr {
    border-top: none;
}

.head-sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
}

table input,
table textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    min-height: 4.8em;
    padding: 0;
    font: inherit;
    line-height: 1.2;
    background-color: #ffffff01;
    border: none;
    outline: none;
    transform: none;
    color: inherit;
    text-align: inherit;
}

table textarea {
    resize: none;
}