:root {
	--table-bg: #ffffff;
	--thead-bg: #ffc107;
	--table-min-width: 1200px;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

@media  (max-width: 767px) {
	html {
		font-size: 75%;
	}
}

body {
	padding: 2.5rem 1.5rem;
}

h1 {
	margin-bottom: 0.5em;
}

table {
	table-layout: fixed;
}

table thead p {
	margin: 0;
}

table input {
	width: 100%;
	padding: 0;
	font: inherit;
	background-color: transparent;
	border: none;
	outline: none;
	transform: none;
}

@media screen {
	table thead.head-sticky th {
		background-color: var(--thead-bg);
	}
}

.form__20-1 {
	padding-top: 30vh;
	page-break-after: always
}

.form__20-3 {
	min-width: 320px;
	max-width: 40em;
	margin: 0 auto;
	margin-top: 2em;
	padding: 2em;
	font-size: 87.5%;
	border: 1px solid #dddddd;
}

.form__19-1 input,
.form__20-1 input,
.form__20-3 input {
	font: inherit;
	text-align: center;
	border-top: none;
	border-right: none;
	border-left: none;
	background-color: transparent;
	outline: none;
	transform: none;
	border-radius: 0;
	border-bottom: 1px solid #000000;
}

#form__20-1__input-start-year,
#form__20-1__input-end-year,
#form__20-3__input-date-day,
#form__20-3__input-date-year {
	width: 3em;
	flex-shrink: 0;
	flex-grow: 0;
}

#form__20-1__input-start,
#form__20-1__input-end {
	flex-shrink: 0;
	flex-grow: 1;
}