:root {
	--color1: #6ea8fe;
	--color2: #8c68cd;
	--color3: #fecba1;
	--color4: #4dd4ac;
	--black-color: #000000;
	--white-color: #ffffff;
	--bg-color: var(--white-color);
	--min-width-column: 125px;
	--max-width-column: 640px; 
}

.container {
	max-width: var(--max-width-column);
}