:root {
	--border-color: rgba(0, 0, 0, 0.25);
}

body {
	padding: 0.5rem;
}

.card-body p {
	margin-bottom: 0;
}

.top-toolbar {
	gap: 2px;
	max-width: 992px;
	font-size: 0.85rem;
}

.top-toolbar-element {
	width: calc(50% - 2px);
	padding: 2px;
}

.top-toolbar-element .card-body {
	display: flex;
	flex-direction: column;
	padding: 0.5em;
}


.top-toolbar-element .card-title {
	font-size: 0.8em;
}

.top-toolbar-element .parameter {
	margin-top: auto;
	margin-bottom: 0;
	font-size: 1.5em;
	background-color: #cecece;
}

@media (min-width: 576px) {
	.top-toolbar-element {
		width: calc(25% - 2px);
	}
}

@media (min-width: 768px) {
	.top-toolbar-element {
		width: calc(12.5% - 2px);
	}
}

.left-toolbar-element {
	width: 100%;
}

.left-toolbar .card-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left-toolbar .flash {
	width: 1.5em;
	height: 1.5em;
	margin-left: 0.5em;
	flex: none;
	border: 1px solid transparent;
	border-radius: 50%;
}

.left-toolbar .card-body > .card-text {
	flex: auto;
}

.left-toolbar-element .parameter {
	background-color: #cecece;
}

.left-toolbar-element .card-body {
	padding: 0.5em;
}

.center-toolbar-element .card-wrap {
	display: flex;
}

.center-toolbar-element .block-row {
	padding: 2px;
	background-color: yellow;
	border: 0.5px solid var(--border-color);
}

.center-toolbar-element p {
	margin: 0;
	text-align: center;
}

@media (max-width: 767px) {
	.center-toolbar {
		/* 320px -> fs 11px; 768px - > fs 18px; */
		font-size: calc(1.5659955vw + 5.988814318px);
		background: url("../images/track-up.png") no-repeat;
		background-position: top 0.5em center;
		background-size: auto 100%;
	}

	.center-toolbar-element.left-side {
		width: 66.666666%;
	}

	.center-toolbar-element.right-side {
		width: 33.3333333%;
	}

	.center-toolbar-element .card-wrap {
		opacity: 0.95;
	}

	.center-toolbar-element.left-side .card-wrap {
		flex-direction: column;
	}

	.center-toolbar-element.right-side .card-wrap {
		flex-direction: column-reverse;
	}

	.center-toolbar-element .block-0,
	.center-toolbar-element .block-1,
	.center-toolbar-element .block-2,
	.center-toolbar-element .block-3,
	.center-toolbar-element .block-4,
	.center-toolbar-element .block-5 {
		display: flex;
		justify-content: space-around;
	}

	.right-side .block-row {
		width: 50%;
	}

	.left-side .block-row {
		width: 25%;
	}

	.center-toolbar-element .block-0 {
		margin-bottom: 1em;
		font-weight: bold;
	}
	
	.center-toolbar-element .block-1 {
		margin-bottom: 3em;
	}

	.center-toolbar-element .block-2 {
		margin-bottom: 6em;
	}
	.center-toolbar-element .block-3,
	.center-toolbar-element .block-4 {
		margin-bottom: 0.5em;
	}

	.center-toolbar-element .block-5 {
		margin-bottom: 3.5em;
	}
}
@media (min-width: 768px) and (max-width: 1399px) {
	.center-toolbar {
		/* 768px -> fs 12px; 1400px - > fs 14px; */
		font-size: calc(0.3164557vw + 9.56962025px);
	}
}

@media (min-width: 768px) {
	.center-toolbar-element {
		width: 100%;
		border: 1px solid var(--border-color);
		border-radius: 4px;
	}

	.center-toolbar-element .block-0 {
		width: 9.52%;
	}

	.center-toolbar-element .block-1,
	.center-toolbar-element .block-2,
	.center-toolbar-element .block-3,
	.center-toolbar-element .block-4,
	.center-toolbar-element .block-5 {
		width: 8.16%;
	}


	.left-side .block-0 {
		margin-right: 0;
	}

	.left-side .block-1 {
		margin-right: 16.46%;
	}

	.left-side .block-2 {
		margin-right: 19.18%;
	}

	.left-side .block-3,
	.left-side .block-4 {
		margin-right: 0;
	}

	.left-side .block-5  {
		margin-right: 14.0%;
	}

	.right-side .block-0 {
		margin-left: 0;
	}

	.right-side .block-1 {
		margin-left: 16.46%;
	}

	.right-side .block-2 {
		margin-left: 19.18%;
	}

	.right-side .block-3,
	.right-side .block-4 {
		margin-left: 0;
	}

	.right-side .block-5  {
		margin-left: 14.0%;
	}

}